<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout1}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">

        function addCart(){
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/cart";
            var paramData = {
                recipeId : $("#recipeId").val()
            };

            var param = JSON.stringify(paramData);

            $.ajax({
                url      : url,
                type     : "POST",
                contentType : "application/json",
                data     : param,
                beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache   : false,
                success  : function(result, status){
                    alert("상품을 장바구니에 담았습니다.");
                    location.href='/';
                },
                error : function(jqXHR, status, error){

                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요');
                        location.href='/members/login';
                    } else{
                        alert(jqXHR.responseText);
                    }

                }
            });
        }

        function replySave(){
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            let data = {
                content: $("#reply-content").val(),
            }
            let recipeId = $("#recipeId").val();
            console.log(data);
            console.log(recipeId);
            $.ajax({
                type: "POST",
                url: `/api/posts/${recipeId}/comments`,
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType: "json",
                cache   : false
            }).done(function (res) {
                alert("댓글작성이 완료되었습니다.");
                location.href = `/recipe/${recipeId}`;
            }).fail(function (err) {
                alert(JSON.stringify(err));
            });

        }

    </script>
</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .mgb-15{
            margin-bottom:15px;
        }
        .mgt-30{
            margin-top:30px;
        }
        .mgt-50{
            margin-top:50px;
        }
        .repImgDiv{
            margin-right:15px;
            height:auto;
            width:50%;
        }
        .repImg{
            width:100%;
            height:400px;
        }
        .wd50{
            height:auto;
            width:50%;
        }
    </style>
</th:block>

<div layout:fragment="content" style="margin-left:25%;margin-right:25%">

    <input type="hidden" id="recipeId" th:value="${recipe.id}">

    <div class="d-flex">
        <div class="repImgDiv">
            <img th:src="${recipe.recipeImgDtoList[0].imgUrl}" class = "rounded repImg" height="300" th:alt="${recipe.recipeName}">
        </div>
        <div class="wd50">
<!--            <span th:if="${recipe.recipeLevel == T(com.myrecipe.constant.RecipeLevel).EASY}" class="badge badge-primary mgb-15">-->
<!--                쉬움-->
<!--            </span>-->
<!--            <span th:unless="${recipe.recipeLevel == T(com.myrecipe.constant.RecipeLevel).EASY}" class="badge btn-danger mgb-15" >-->
<!--                어려움-->
<!--            </span>-->
            <div class="h4" th:text="${recipe.recipeName}"></div>
            <hr class="my-4">

            <div class="text-right">
                <div class="h4 text-left">
                    <input type="hidden" th:value="${recipe.view}" id="view" name="view">
                    조회수<br>
                    <span th:text="${recipe.view}"></span>
                </div>
            </div>
            <hr class="my-4">

            <div class="text-right">
                <div class="h4 text-left">
                    <input type="hidden" th:value="${recipe.price}" id="price" name="price">
                    레시피 예상 가격<br>
                    <span th:text="${recipe.price}"></span>원
                </div>
            </div>
            <hr class="my-4">
            <div class="text-right">
                <button type="button" class="btn btn-light border border-primary btn-lg" onclick="addCart()">마이페이지 저장</button>
            </div>
            <div class="text-right" sec:authorize="hasAnyAuthority('ROLE_ADMIN')"
                 th:if="${#authentication.principal.username} == ${recipe.username}" >
                <button type="button" class="btn btn-light border border-primary btn-lg"
                        th:onclick="'location.href=\'/admin/recipe/'+ @{${recipe.id}}+ '\''">레시피 수정</button>
            </div>

        </div>
    </div>

    <div class="jumbotron jumbotron-fluid mgt-30">
        <div class="container">
            <h4 class="display-5">레시피 상세 설명</h4>
            <hr class="my-4">
            <p class="lead" th:text="${recipe.recipeDetail}"></p>
        </div>
    </div>

    <div th:each="recipeImg : ${recipe.recipeImgDtoList}" class="text-center">
        <img th:if="${not #strings.isEmpty(recipeImg.imgUrl)}" th:src="${recipeImg.imgUrl}" class="rounded mgb-15" width="400">
    </div>


    <!--댓글-->
    <div class="card mb-2 mt-5">

        <div class="card-header bg-light">
            <i class="fa fa-comment fa"></i> 댓글
        </div>
        <form>
            <div class="card-body">
<!--                <input type="hidden" id="recipeId" th:value="${recipe.id}">-->
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <textarea class="form-control" id="reply-content" rows="1"></textarea>
                        <button type="button" class="btn btn-dark mt-3" onclick="replySave()">등록</button>
                    </li>
                </ul>
            </div>
        </form>
    </div>
    <br/>
    <div class="card">
        <div class="card-header">댓글</div>
        <ul id="reply--box" class="list-group" th:each="comment : ${recipe.comments}">
            <li th:id="'comment--' + ${recipe.id}" class="list-group-item d-flex justify-content-between">
                <div th:text="${comment.content}"></div>
                <div class="d-flex">
                    <span class="text-monospace mr-1">작성자: &nbsp;</span><div class="text-monospace mr-1" th:text="${comment.member.name}"></div>
                    <button class="badge btn-warning">수정</button><span> | </span>
                    <button class="badge btn-danger">삭제</button>
                </div>
            </li>
        </ul>
    </div>

</div>

</html>